<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf8">
    <title>{{title}}</title>
    <style>
      body {
        font-family: Open Sans, Helvetica, Arial, sans-serif;
        background: #eee;
        padding: 3em 2em;
        max-width: 600px;
      }

      blockquote {
        margin: 1em 0;
        padding: 0;
        padding-left: 6em;
      }

      table th {
        margin: 0;
        padding: 0;
        text-align: left;
        min-width: 5em;
        font-weight: normal;
        color: #444;
      }

      table td {
        margin: 0;
        padding: 0;
        padding-left: 1em;
        color: #111;
      }
    </style>
  </head>
  <body>
{{content}}
  </body>
</html>
