
body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  padding: 1em;
  max-width: 70ex;
  color: #111;
  margin: 0 auto;
  line-height: 1.4em;
  font-size: 14px;
}

p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 1em;
  font-weight: normal;
  line-height: 1em;
}

h2, h3, h4, h5, h6 {
  page-break-before: always;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

blockquote {
  margin: 1em 0;
  padding: 0;
  padding-left: 6em;
}

table td,
table th {
  padding: 0.5em 0;
}

table th {
  vertical-align: top;
  margin: 0;
  text-align: left;
  min-width: 7em;
  font-weight: normal;
  color: #444;
}

table td {
  vertical-align: middle;
  margin: 0;
  padding-left: 1em;
  color: #111;
}

p.line {
  /*padding-left: 10ex;*/
  padding-left: 5em;
}

.roles-definition {
  border: 1px solid #999;
  border-radius: 1ex;
  padding: 0 1em;
}

.roles-definition-scene {
  padding: 1em;
}

.roles-definition-script dt {
  margin: 1em 0 0;
  font-weight: bold;
  color: #111;
}

.roles-definition-script dd {
  margin: 0 0 1em;
  padding: 0;
}

.roles-definition-scene dt {
  display: inline;
  margin: 0;
  padding: 0;
  font-style: italic;
}

.roles-definition-scene dt:after {
  content: ', ';
}

.roles-definition-scene dt:last-of-type:after {
  content: none;
}

.roles-definition-scene dd {
  display: none;
}

.line-roles {
  display: inline-block;
  min-width: 5em;
  margin-left: -5em;
  color: #777;
  font-weight: normal;
}

.line-roles:after {
  content: ':';
  padding-right: 1ex;
}

.direction {
  font-style: italic;
  color: #777;
}

@media print {
  .direction {
    color: #555;
  }

  .line-roles {
    color: #555;
  }
}

.multi {
  display: inline-block;
  border-width: 0px 2px;
  border-style: solid;
  border-color: white #444;
  vertical-align: middle;
}

.multi > span {
  background: white;
  padding: 0.1em 0.6ex;
  border-bottom: 1px solid #333;
  display: block;
}

.multi > span:last-child {
  border-bottom: 0 none;
}

